[submodule "Client/Network/raknet30"]
	path = Client/Network/raknet30
	url = https://github.com/RBLXDecomp/raknet.git
[submodule "Client/Rendering/g3d"]
	path = Client/Rendering/g3d
	url = https://github.com/RBLXDecomp/g3d.git
